<header class="project" style="background-image: url({{project.backgroundImage}}); background: {{project.backgroundColor}}; background-position: center;">
    <div class="wrap">
        <div class="container grid">
            <div>
                <h1 class="offsetBackground">{{project.name}}</h1>
                <p>
                    <i>{{project.period}} {{project.year}}</i>
                    <br>{{{project.summary}}}
                </p>

            </div>
        </div>
    </div>
</header>