{{> nav currentPage=pageName}} {{> header-project project=project }}
<main>
    <div class='projectDetail container'>
        <div class='flex cta-box'>
            {{#if project.demoUri}}<a class='btn cta eq' href='{{project.demoUri}}'>live demo</a>{{/if}} {{#if project.repoUri}}<a
                class='btn cta eq' href='{{project.repoUri}}'>github repository </a>{{/if}}
        </div>

        {{!--
        <blockquote></blockquote> --}}
        <section class='process'>
            <article id='process'></article>
        </section>
        <div class="flex splitTwo">
            <section class='project-img'>
                <img src="{{project.missionImage}}" alt="" />
            </section>
            <section class='project-skills'>
                <h2>The mission</h2>
                <p>
                    {{project.mission}}
                </p>
                <h2>Acquired skills</h2>
                <ul id="tags" class='tags'>
                    {{#each project.skills}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </section>
        </div>

        <section class='suggestion'>
            <a class='btn secondary' href='/portfolio'>Show more projects</a>
        </section>
    </div>
</main>
{{>footer}}